doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title VIDEO CALL 
        //- link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header 
            h1 VIDEO CALL 
        main
            div#welcome
                span#intro Please enter a room name 
                form
                    input(type="text", placeholder="room name", required)
                    button#enter Enter Room 
            div#call
                h3
                h4
                div#nick 
                    form#name
                        input(type="text", placeholder="nickname", required)
                        button#save Save
                div#room
                    hr
                    ul
                    form#msg
                        input(placeholder="message", type="text", required) 
                        button#send Send 
                div#myStream
                    video#myFace(autoplay,playsinline)
                    div#myStreamCameraSelector
                        select#cameras
                    button#mute Mute 
                    button#camera Camera Off
                div#youStream
                    video#peerFace(autoplay,playsinline)
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 
        link(rel="stylesheet", href="/public/css/style.css")